#Session 3 - Data Wrangling, Cleaning and Feature Engineering

Python Notebook [Colab/Jupyter] includes:
*  Missing value imputation
*  One-hot encoding
*  Feature engineering

## Import Libraries

In [ ]:
#Loading Libraries
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler

#Load and view data

In [ ]:
#Loading data into two data frames

df = pd.read_csv('/content/data.csv')

print(df.shape)
display(df.head())
display(df.describe(include='all'))

#df_all = pd.read_csv('/content/data.csv')
#print(df_all.shape)

(2017, 17)

,Unnamed: 0,acousticness,danceability,duration_ms,energy,instrumentalness,key,liveness,loudness,mode,speechiness,tempo,time_signature,valence,target,song_title,artist
0,0,0.0102,0.833,204600,0.434,0.021900,2,0.1650,-8.795,1,0.4310,150.062,4.0,0.286,1,Mask Off,Future
1,1,0.1990,0.743,326933,0.359,0.006110,1,0.1370,-10.401,1,0.0794,160.083,4.0,0.588,1,Redbone,Childish Gambino
2,2,0.0344,0.838,185707,0.412,0.000234,2,0.1590,-7.148,1,0.2890,75.044,4.0,0.173,1,Xanny Family,Future
3,3,0.6040,0.494,199413,0.338,0.510000,5,0.0922,-15.236,1,0.0261,86.468,4.0,0.230,1,Master Of None,Beach House
4,4,0.1800,0.678,392893,0.561,0.512000,5,0.4390,-11.648,0,0.0694,174.004,4.0,0.904,1,Parallel Lines,Junior Boys

,Unnamed: 0,acousticness,danceability,duration_ms,energy,instrumentalness,key,liveness,loudness,mode,speechiness,tempo,time_signature,valence,target,song_title,artist
count,2017.000000,2017.000000,2017.000000,2.017000e+03,2017.000000,2017.000000,2017.000000,2017.000000,2017.000000,2017.000000,2017.000000,2017.000000,2017.000000,2017.000000,2017.000000,2017,2017
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1956,1343
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,River,Drake
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,16
mean,1008.000000,0.187590,0.618422,2.463062e+05,0.681577,0.133286,5.342588,0.190844,-7.085624,0.612295,0.092664,121.603272,3.968270,0.496815,0.505702,NaN,NaN
std,582.402066,0.259989,0.161029,8.198181e+04,0.210273,0.273162,3.648240,0.155453,3.761684,0.487347,0.089931,26.685604,0.255853,0.247195,0.500091,NaN,NaN
min,0.000000,0.000003,0.122000,1.604200e+04,0.014800,0.000000,0.000000,0.018800,-33.097000,0.000000,0.023100,47.859000,1.000000,0.034800,0.000000,NaN,NaN
25%,504.000000,0.009630,0.514000,2.000150e+05,0.563000,0.000000,2.000000,0.092300,-8.394000,0.000000,0.037500,100.189000,4.000000,0.295000,0.000000,NaN,NaN
50%,1008.000000,0.063300,0.631000,2.292610e+05,0.715000,0.000076,6.000000,0.127000,-6.248000,1.000000,0.054900,121.427000,4.000000,0.492000,1.000000,NaN,NaN
75%,1512.000000,0.265000,0.738000,2.703330e+05,0.846000,0.054000,9.000000,0.247000,-4.746000,1.000000,0.108000,137.849000,4.000000,0.691000,1.000000,NaN,NaN
max,2016.000000,0.995000,0.984000,1.004627e+06,0.998000,0.976000,11.000000,0.969000,-0.307000,1.000000,0.816000,219.331000,5.000000,0.992000,1.000000,NaN,NaN

In [ ]:
##backup
df = pd.read_csv('data.csv')
df.head(5)

,Unnamed: 0,acousticness,danceability,duration_ms,energy,instrumentalness,key,liveness,loudness,mode,speechiness,tempo,time_signature,valence,target,song_title,artist
0,0,0.0102,0.833,204600,0.434,0.021900,2,0.1650,-8.795,1,0.4310,150.062,4.0,0.286,1,Mask Off,Future
1,1,0.1990,0.743,326933,0.359,0.006110,1,0.1370,-10.401,1,0.0794,160.083,4.0,0.588,1,Redbone,Childish Gambino
2,2,0.0344,0.838,185707,0.412,0.000234,2,0.1590,-7.148,1,0.2890,75.044,4.0,0.173,1,Xanny Family,Future
3,3,0.6040,0.494,199413,0.338,0.510000,5,0.0922,-15.236,1,0.0261,86.468,4.0,0.230,1,Master Of None,Beach House
4,4,0.1800,0.678,392893,0.561,0.512000,5,0.4390,-11.648,0,0.0694,174.004,4.0,0.904,1,Parallel Lines,Junior Boys

#Handle the Missing values
Missing values impact results and need to be resolved.

In [ ]:
#Check for missig values in the dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2017 entries, 0 to 2016
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        2017 non-null   int64
 1   acousticness      2017 non-null   float64
 2   danceability      2017 non-null   float64
 3   duration_ms       2017 non-null   int64
 4   energy            2017 non-null   float64
 5   instrumentalness  2017 non-null   float64
 6   key               2017 non-null   int64
 7   liveness          2017 non-null   float64
 8   loudness          2017 non-null   float64
 9   mode              2017 non-null   int64
 10  speechiness       2017 non-null   float64
 11  tempo             2017 non-null   float64
 12  time_signature    2017 non-null   float64
 13  valence           2017 non-null   float64
 14  target            2017 non-null   int64
 15  song_title        2017 non-null   object
 16  artist            2017 non-null   object
dtypes: float64(10), int64(5), object(2)
memory usage: 268.0+ KB

No missing values are noted due to the "Non-Null Count" in the output confirming all rows and columns have no missing values.

In [ ]:
#Check empty or NaN values as another method.
df.isnull().sum()

Unnamed: 0          0
acousticness        0
danceability        0
duration_ms         0
energy              0
instrumentalness    0
key                 0
liveness            0
loudness            0
mode                0
speechiness         0
tempo               0
time_signature      0
valence             0
target              0
song_title          0
artist              0
dtype: int64

We have confirmed our data set has no missing values.

## Missing Value Imputation

**If we had missing values, we could handle them in a few ways:**

**1.   Analyze the pattern:** Investigate the reason behind null values to determine if they are random or systematic, which may affect the chosen method.
**2.   Remove missing data:** In cases of limited null values, dropping rows or columns with missing data can be a viable solution, using functions like dropna() in pandas.
**3.   Impute values:** Replace missing data with estimated values based on available data, such as mean, median, or mode imputation, or more advanced techniques like k-Nearest Neighbors (KNN) or regression imputation.

**4.   Use categorical placeholders:** For categorical variables, consider introducing a new category (e.g., "Unknown") to represent missing data.

**5.   Incorporate uncertainty:** Utilize probabilistic models or Bayesian techniques to account for uncertainty arising from missing data, allowing for more robust analyses and conclusions.

In [ ]:
#for example, you can fill missing values with the mean of the column
#df['duration_ms'].fillna(df['duration_ms'].mean(), inplace=True)

In [ ]:
#or
#df = df.fillna(df.mean())

In [ ]:
#check our work
df.isnull().sum()

Unnamed: 0          0
acousticness        0
danceability        0
duration_ms         0
energy              0
instrumentalness    0
key                 0
liveness            0
loudness            0
mode                0
speechiness         0
tempo               0
time_signature      0
valence             0
target              0
song_title          0
artist              0
dtype: int64

#Remove obviously irrelvant columns not needed for our analysis

In [ ]:
"""
drop unnecessary columns. Since "unnamed: 0" doesn't provide clear meaning for us,
we will drop it. It was likely a database key or unique identifier.
"""
df.drop(['Unnamed: 0' ] ,  axis = 1, inplace=True)
display(df)

,acousticness,danceability,duration_ms,energy,instrumentalness,key,liveness,loudness,mode,speechiness,tempo,time_signature,valence,target,song_title,artist
0,0.01020,0.833,204600,0.434,0.021900,2,0.1650,-8.795,1,0.4310,150.062,4.0,0.286,1,Mask Off,Future
1,0.19900,0.743,326933,0.359,0.006110,1,0.1370,-10.401,1,0.0794,160.083,4.0,0.588,1,Redbone,Childish Gambino
2,0.03440,0.838,185707,0.412,0.000234,2,0.1590,-7.148,1,0.2890,75.044,4.0,0.173,1,Xanny Family,Future
3,0.60400,0.494,199413,0.338,0.510000,5,0.0922,-15.236,1,0.0261,86.468,4.0,0.230,1,Master Of None,Beach House
4,0.18000,0.678,392893,0.561,0.512000,5,0.4390,-11.648,0,0.0694,174.004,4.0,0.904,1,Parallel Lines,Junior Boys
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2012,0.00106,0.584,274404,0.932,0.002690,1,0.1290,-3.501,1,0.3330,74.976,4.0,0.211,0,Like A Bitch - Kill The Noise Remix,Kill The Noise
2013,0.08770,0.894,182182,0.892,0.001670,1,0.0528,-2.663,1,0.1310,110.041,4.0,0.867,0,Candy,Dillon Francis
2014,0.00857,0.637,207200,0.935,0.003990,0,0.2140,-2.467,1,0.1070,150.082,4.0,0.470,0,Habit - Dack Janiels & Wenzday Remix,Rain Man
2015,0.00164,0.557,185600,0.992,0.677000,1,0.0913,-2.735,1,0.1330,150.011,4.0,0.623,0,First Contact,Twin Moons
2016,0.00281,0.446,204520,0.915,0.000039,9,0.2180,-6.221,1,0.1410,190.013,4.0,0.402,0,I Wanna Get Better,Bleachers

We now only have 1 column and the "Unnamed: 0" column has been dropped.

In [ ]:
# check for duplicates and drop them if found

print(df.duplicated().sum())
df = df.drop_duplicates()

5

In [ ]:
#check that the 5 duplicate records have been removed
print('shape:', df.shape)
df.isnull().sum()

shape: (2012, 16)

acousticness        0
danceability        0
duration_ms         0
energy              0
instrumentalness    0
key                 0
liveness            0
loudness            0
mode                0
speechiness         0
tempo               0
time_signature      0
valence             0
target              0
song_title          0
artist              0
dtype: int64

In [ ]:
df.shape

(2012, 16)

Now that the number of observations is 2012, we can confirm 5 duplicates have been removed.

# How many unique values do we have in the dataset?

In [ ]:
## Check unique values in the dataset

df.nunique()

acousticness        1394
danceability         632
duration_ms         1921
energy               719
instrumentalness    1107
key                   12
liveness             793
loudness            1808
mode                   2
speechiness          792
tempo               1919
time_signature         4
valence              853
target                 2
song_title          1956
artist              1343
dtype: int64

#Do our column titles make sense?

If not, we can rename columns using the following method:

In [ ]:
#rename columns for readability and practice
df = df.rename(columns={'acousticness': 'Acousticness',
                        'danceability': 'Danceability',
                        'duration_ms': 'Duration',
                        'energy': 'Energy',
                        'instrumentalness': 'Instrumentalness',
                        'key': 'Key',
                        'liveness': 'Liveness',
                        'loudness': 'Loudness',
                        'mode': 'Mode',
                        'speechiness': 'Speechiness',
                        'tempo': 'Tempo',
                        'time_signature': 'Time_Signature',
                        'valence': 'Valence',
                        'target': 'Target',
                        'song_title': 'SongTitle',
                        'artist':'Artist',})

In [ ]:
#View our work
df.head()

,Acousticness,Danceability,Duration,Energy,Instrumentalness,Key,Liveness,Loudness,Mode,Speechiness,Tempo,Time_Signature,Valence,Target,SongTitle,Artist
0,0.0102,0.833,204600,0.434,0.021900,2,0.1650,-8.795,1,0.4310,150.062,4.0,0.286,1,Mask Off,Future
1,0.1990,0.743,326933,0.359,0.006110,1,0.1370,-10.401,1,0.0794,160.083,4.0,0.588,1,Redbone,Childish Gambino
2,0.0344,0.838,185707,0.412,0.000234,2,0.1590,-7.148,1,0.2890,75.044,4.0,0.173,1,Xanny Family,Future
3,0.6040,0.494,199413,0.338,0.510000,5,0.0922,-15.236,1,0.0261,86.468,4.0,0.230,1,Master Of None,Beach House
4,0.1800,0.678,392893,0.561,0.512000,5,0.4390,-11.648,0,0.0694,174.004,4.0,0.904,1,Parallel Lines,Junior Boys

#Data Preprocessing & Feature Engineering

#Convert catagortical variables to numeric.
Not all data types are sutible for modeling and need to be converted using various methods. We will use dummy variables for this. Each categorical variable will be converted to a numeric value (0 or 1) in a new column.



```
# This is formatted as code
```

## One-hot encoding

Our data set only include 2 categorical values. The columns with the data type "object" are the categoricals; "SongTitle" and "Artist". However, these variables have high cardinality, meaning there are too many unique values to be represented in a single column.

However, these columns do not have a significant impact on the analysis as the focus is on audio features and their relationship with the target variable. So we can drop these columns.

In [ ]:
# example of get dummy variables for categorical variables
# df = pd.get_dummies(df, columns=['SongTitle', 'Artist'])

In [ ]:
#view our work
df.head()

,Acousticness,Danceability,Duration,Energy,Instrumentalness,Key,Liveness,Loudness,Mode,Speechiness,Tempo,Time_Signature,Valence,Target,SongTitle,Artist
0,0.0102,0.833,204600,0.434,0.021900,2,0.1650,-8.795,1,0.4310,150.062,4.0,0.286,1,Mask Off,Future
1,0.1990,0.743,326933,0.359,0.006110,1,0.1370,-10.401,1,0.0794,160.083,4.0,0.588,1,Redbone,Childish Gambino
2,0.0344,0.838,185707,0.412,0.000234,2,0.1590,-7.148,1,0.2890,75.044,4.0,0.173,1,Xanny Family,Future
3,0.6040,0.494,199413,0.338,0.510000,5,0.0922,-15.236,1,0.0261,86.468,4.0,0.230,1,Master Of None,Beach House
4,0.1800,0.678,392893,0.561,0.512000,5,0.4390,-11.648,0,0.0694,174.004,4.0,0.904,1,Parallel Lines,Junior Boys

##Drop categorical columns that cannot be encoded.

In [ ]:
#drop categorical variables
df = df.drop(['SongTitle', 'Artist'], axis=1)
df.head()

,Acousticness,Danceability,Duration,Energy,Instrumentalness,Key,Liveness,Loudness,Mode,Speechiness,Tempo,Time_Signature,Valence,Target
0,0.0102,0.833,204600,0.434,0.021900,2,0.1650,-8.795,1,0.4310,150.062,4.0,0.286,1
1,0.1990,0.743,326933,0.359,0.006110,1,0.1370,-10.401,1,0.0794,160.083,4.0,0.588,1
2,0.0344,0.838,185707,0.412,0.000234,2,0.1590,-7.148,1,0.2890,75.044,4.0,0.173,1
3,0.6040,0.494,199413,0.338,0.510000,5,0.0922,-15.236,1,0.0261,86.468,4.0,0.230,1
4,0.1800,0.678,392893,0.561,0.512000,5,0.4390,-11.648,0,0.0694,174.004,4.0,0.904,1

#Normalize the data Vs. Standardize

**Normalizing** the values of the numerical features to a fixed range between 0 and 1 using the MinMaxScaler ensures that each feature is on the same scale and has the same weight in our analysis. It can also improve the performance of machine learning models that we may build later on with this dataset.

**Standardization** is a common technique used in data analysis and machine learning to transform numerical features to have zero mean and unit variance. This is achieved by subtracting the mean of each feature from the data points and then dividing by the standard deviation.

**There are several reasons why we may want to normalize the data:**

**1. Improved model performance:** Normalizing the data can often improve the performance of machine learning models by reducing the impact of different scales of features. If the features have vastly different ranges, this can cause some features to be weighted more heavily than others, which can result in biased model performance.

**2. Better data visualization:** Normalizing the data can make it easier to visualize and compare different features, as they will all be on the same scale.

**3.Better data understanding:** Normalizing the data can help us to better understand the relationships between features, as it removes the effect of different scales on our analysis.

**Standardization can be useful in several ways:**

**Improved model performance:** Standardization can often improve the performance of machine learning models by ensuring that all features have similar ranges and distributions. This can prevent some features from dominating the others and help the model to converge more quickly.

**Better data visualization:** Standardization can make it easier to visualize and compare different features, as they will all have similar ranges and distributions.

**Better data understanding:** Standardization can help us to better understand the relationships between features, as it removes the effect of different scales and distributions on our analysis.


***For our analysis we will use standardization on the values of the numerical features using the StandardScaler to rescale the features to have zero mean and unit variance. This ensures that each feature is on the same scale and has the same weight in our analysis. It can also improve the performance of machine learning models that we may build later on with this dataset. Machine learning algorithms that rely on the assumption that the features are normally distributed. Generally it is best practice to avoid standardization or normalization until after the training and testing data are split from the original data***

"Key", "TimeSignature", and "Mode" are numerical columns that are not continuous numerical features that represent a quantity, but rather categorical variables that represent different categories or levels.

StandardScaler assumes that the features are continuous numerical variables and therefore should only apply the StandardScaler to the continuous numerical features

In [ ]:
# Select the numerical columns to scale
num_cols = ['Acousticness', 'Danceability', 'Duration', 'Energy', 'Instrumentalness', 'Liveness', 'Loudness', 'Speechiness', 'Tempo', 'Valence']

# Create a StandardScaler object
scaler = StandardScaler()

# Scale the numerical features
df[num_cols] = scaler.fit_transform(df[num_cols])

## Feature engineering

Feature engeineer is creating new features or transforming existing features to improve the performance of machine learning models. Feature engineering can include tasks such as creating new features based on domain knowledge, combining or transforming existing features, and selecting the most relevant features for the analysis.

##Feature engineering ideas:
1. Musical genres: We could use the "SongTitle" and "Artist" columns to extract information about the musical genres of the songs. This could be done using text processing techniques such as keyword extraction or topic modeling. We could then create new features that indicate the presence or absence of specific genres in each song.

2. Tempo variability: The "Tempo" feature represents the tempo of the song in beats per minute (BPM). However, some songs may have a constant tempo throughout the entire song, while others may have tempo changes or fluctuations. We could calculate the standard deviation or range of tempo values within each song and use this as a new feature.

3. Beat strength: The "Loudness" feature represents the overall loudness of the song, but it doesn't capture the rhythmic emphasis of the beats. We could use signal processing techniques such as onset detection or beat tracking to extract information about the timing and strength of the beats in each song, and create new features that capture the rhythmic structure of the songs.

4. Instrumental sections: The "Instrumentalness" feature indicates the presence or absence of vocals in the song. However, some songs may have instrumental sections or interludes that are distinct from the main vocal sections. We could use signal processing techniques to identify these sections and create new features that indicate the presence or absence of instrumental sections in each song.

Create Tempo Variability and Tempo Range features for each song.

In [ ]:
# Calculate the tempo variability as the standard deviation of the tempo values
df['TempoVariability'] = df['Tempo'].std()

# Calculate the tempo range as the difference between the maximum and minimum tempo values
df['TempoRange'] = df['Tempo'].max() - df['Tempo'].min()

In [ ]:
#view our work
df.head()

,Acousticness,Danceability,Duration,Energy,Instrumentalness,Key,Liveness,Loudness,Mode,Speechiness,Tempo,Time_Signature,Valence,Target,TempoVariability,TempoRange
0,-0.682956,1.332913,-0.508052,-1.179049,-0.407036,2,-0.165984,-0.457521,1,3.777457,1.066649,4.0,-0.855011,1,1.000249,6.42666
1,0.044243,0.773779,0.983794,-1.535847,-0.464896,1,-0.346011,-0.885152,1,-0.146977,1.442230,4.0,0.367140,1,1.000249,6.42666
2,-0.589746,1.363976,-0.738452,-1.283709,-0.486428,2,-0.204561,-0.018972,1,2.192503,-1.744977,4.0,-1.312305,1,1.000249,6.42666
3,1.604177,-0.773161,-0.571307,-1.635750,1.381537,5,-0.634054,-2.172574,1,-0.741893,-1.316813,4.0,-1.081634,1,1.000249,6.42666
4,-0.028939,0.369959,1.788174,-0.574871,1.388866,5,1.595710,-1.217193,0,-0.258593,1.963980,4.0,1.645946,1,1.000249,6.42666

#Save clean data
This will save a new csv to the working directory in your Colab session where the original data is currently stored. Make sure to download a copy locally as the version in the session files will not be saved after you finish your session.

In [ ]:
#save clean data in a new csv file for next steps
df.to_csv('cleaned_data.csv', index=False)